@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}

html{
    height: 100vh;
    background:#E4DCCF ;
    scroll-behavior: smooth;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before{
    width: 100%;
}

section{
    padding: 100px 200px;
    background: #E4DCCF;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #E1D4BB;
}

.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background-color: #ffffff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-navigation{
    z-index: 888;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3 ease;
}

.slider-navigation .nav-btn.active{
    background: #2696E9;
}


.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title{
    font-size: 4em;
    margin-bottom: 50px; ;
}

.contents{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}


.contents .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contents .text-box{
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px,50px);
}

.contents .text-box h3{
    font-size: 2em;
    margin-bottom: 10px;
}

.media-icon{
    margin-top: 100px;
}

.media-icon a{
    color: rgb(12, 9, 9);
    font-size: 2em;
    margin: 60px;
}

.section-title{
    font-size: 3em;
    margin-bottom: 80px;
}

.info-title{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info{
    width: 700px;
    margin-left: 50px;
}

.media-info{
    width: 400px;
    margin-left: 50px;
}

.media-info li{
    list-style: none;
    font-size: 1.4em;

}

.media-info li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.media-info li:not(:last-child){
    margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;
}

.media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;
}

.sec-03{
    margin-bottom: 100px;
}

.sec-03 .credit{
    font-size: 1.3rem;
    color: #9a4949;
    padding-top: 1.5rem;
    font-weight: 300;
}

.sec-03 .credit span{
    color: var(--black-color);
 }

.wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
  .slider {
    /* background: #f2f2f2; */
    position: relative;
    margin: 2rem 0;
    overflow: hidden;
    /* padding-bottom: 2.5rem; */
    border: 0.25rem solid #6c6c6c;
  }
  .slider::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: '';
    display: block;
    background: #8D7B68;
    height: 3rem;
  }
  .slide-switch {
    display: none;
  }
  .slide-label {
    position: absolute;
    bottom: 1rem;
    display: block;
    z-index: 5;
    height: 1rem;
    width: 1rem;
    text-indent: 1rem;
    overflow: hidden;
    background: #C8B6A6;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s;
  }
  .slide-label:nth-of-type(1) {
    left: 1rem;
  }
  .slide-label:nth-of-type(2) {
    left: 2.5rem;
  }
  .slide-label:nth-of-type(3) {
    left: 4rem;
  }
  .slide-label:nth-of-type(4) {
    left: 5.5rem;
  }
  .slide-label:nth-of-type(5) {
    left: 7rem;
  }
  .padded {
    padding: 1rem 2rem;
  }
  .slide-content {
    width: 100%;
    /* background: #fff; */
    float: left;
    margin-right: -100%;
  }
  .slide-switch:checked + .slide-label {
    background: #C8B6A6;
  }
  .slide-switch:not(:checked) + .slide-label + .slide-content {
    opacity: 0;
    transition: opacity 0.35s;
    pointer-events: none;
  }
  .slide-switch:checked + .slide-label + .slide-content {
    animation: slide 1s;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  

@media (max-width:1040px){
    header{
        padding: 15px 200px;
    }

    section{
        padding: 100px 20px;
    }

    .sec-01{
        
        flex-direction: column;
        width: 80%;
        height: 100vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-title{
        font-size: 2em;
    }
    .sec-01 p{
        font-size: 1.2em;
    }

    .sec-03{
        flex-direction: column;
        text-align: center;
        height: 100vh;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sec-03 .image{
        width: 60%;
    }
  
   

    .home .media-icons{
        right: 15px;
    }

    header .navigation{
       display: none;
    }

    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }


    header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a::before{
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);

    }
    .menu-btn{
        background: url(../img/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(../img/close.jpeg)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}